<!DOCTYPE html>
<html>
<head>
    <title>Add New Topic</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TRROStylesheet.css">
</head>
<body style = "background-color: #c9ddff">
<h1>Add New Topic</h1>
<ul>
    <li><a class="nav" href="../">Home</a></li>
    <li><a class="nav" href="./all">Topics</a></li>
    <li><a class="nav" href="/about">About</a></li>
</ul>
<br/>
<form action="/topic/insert" method="get">
    Topic Name: <input id="topic_name" name="topic_name" type="text" style="width:25em" />
    <br />
    Topic Description: <input id="topic_description" name="topic_description" type="text" style="width:75em" />
    <br />
    <br />
    User:
    <select id="creator_id" name="creator_id">
        <% for(var i=0; user.length > i; i++ ) { %>
        <option value="<%= user[i].user_id %>"><%= user[i].username %></option>
        <% } %>
    </select>
    <br />
    Moderator:
    <select id="moderator_id" name="moderator_id">
        <% for(var i=0; user.length > i; i++ ) { %>
        <option value="<%= user[i].user_id %>"><%= user[i].username %></option>
        <% } %>
    </select>
    <br />
    <br />
    <input type="submit" value="Create" />

</form>
</body>

</html>