<!DOCTYPE html>
<html>
<head>
    <title>Company About</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TRROStylesheet.css">
</head>
<body style = "background-color: #c9ddff">
<h1>Company About</h1>
<ul>
    <li><a class="nav" href="/">Home</a></li>
    <li><a class="nav" href="/topic/all">Forums</a></li>
    <li><a class="nav" style ="background-color:#ffffff" href="#">About</a></li>
    <li><a class="nav" href="/user/all">Users</a></li>
</ul>
<br/>
<p>The founders of our company created this website to solve one glaring problem with the internet: not enough forums with a late 90s early 2000s aesthetic.
<br/>
    The hipster market identity has been growing exponentially since its inception, yet there has been no response in the forum industry to meet their sensibilities.
    <br/>
    We hope that our website will live up to the hipster demands of the modern market, and will be flocked to with energetic exuberance, or at the very least lethargic indifference!
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>Contact Us</h2>
    <br/>
    <h4>Email: fake@email.111
        <br/>
        Phone: 5 555 555 0505
        <br/>
        Website: <a href ="/">localhost:3000</a>
    </h4>
</p>

</body>
</html>
