<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/TRROStylesheet.css">
  </head>
  <body style = "background-color: #c9ddff">
    <h1><%= title %></h1>
    <ul>
      <li><a class="nav" style ="background-color:#ffffff" href="#">Home</a></li>
      <li><a class="nav" href="/topic/all">Forums</a></li>
      <li><a class="nav" href="/about">About</a></li>
      <li><a class="nav" href="/user/all">Users</a></li>
    </ul>
    <br/>
    <p>Welcome to <%= title %></p>

  </body>
</html>
