<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/TRROStylesheet.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a class="nav" href="index.html">Home</a></li>
      <li><a class="nav" href="classes.html">Classes</a></li>
      <li><a class="nav" style ="background-color:#ff0000" href="#">About</a></li>
      <li><a class="nav" href="contact.html">Contact</a></li>
    </ul>
    <p>Welcome to <%= title %></p>


    <a href="/topic/all">Topic - View All</a> <br />
    <br />

  </body>
</html>
