ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

a.nav:link, a.nav:visited {
    display: block;
    width: 200px;
    /*font-weight: bold;*/
    color: #4d4d4d;
    background-color: #ff6600;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    /*text-transform: uppercase;*/
}

a.nav:hover, a.nav:active {
    background-color: #ff0000;
}



